# Ignore old analysis codes with 'ca' prefix
Paper1codes/ca*.m

# Ignore codes for Paper 2
Paper2codes/

# Ignore codes for Paper 3
Paper3codes/

# Ignore Craig folder
Craig/

# Ignore RFanalyses folder
RFanalyses/

# Ignore all .m files in parent folder
/*.m

# Ignore all .asv and .fig files
*.asv
*.fig

tutorial.pdf